@font-face {
  font-family: "Danfo";
  src: url(../fonts/Danfo/static/Danfo-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Gloria Hallelujah";
  src: url(../fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass/static/Overpass-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass/static/Overpass-Bold.ttf) format(truetype);
  font-weight: 700;
}
:root {
  overflow-x: hidden;
}

.login-page {
  display: flex;
  flex-flow: row;
  justify-content: end;
  align-items: center;
  gap: 0;
  background: #47482f left no-repeat url(../img/hero-img-6.jpg);
  background-size: cover;
  height: 100vh;
  padding: 100px;
}
.login-page .login-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70%;
  max-width: 700px;
  height: 100vh;
  color: #47482f;
  padding: 50px;
}
.login-page .login-container .admin-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
  text-align: center;
}
.login-page .login-container .login-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Overpass", sans-serif;
}
.login-page .login-container .login-form__input {
  background-color: #e8e4dc;
  border: 2px solid #727454;
  outline: #727454;
  color: #47482f;
  font-size: 25px;
  padding: 10px 20px;
  width: 400px;
}
.login-page .login-container .login-form__input:focus {
  outline: none;
  box-shadow: 0 0 15px #727454;
}
.login-page .login-container .login-form__label {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #212529;
}
.login-page .login-container .login-form .login-btn {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-size: 2.8rem;
  color: #47482f;
  background-color: transparent;
  border: none;
}
.login-page .login-container .login-form .login-btn:hover .login-icon {
  animation: rotate 4000ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-page .login-container .login-error {
  font-size: 1rem;
  color: #780000;
  text-align: center;
}

.main-nav {
  position: fixed;
  z-index: 4;
  width: 100vw;
  padding: 0;
}
.main-nav .home-icon {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: inherit;
  font-size: 2rem;
  color: #212529;
  margin: 0.6rem 3rem;
}
.main-nav .nav-link {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #f3f3f3;
  margin-right: 5rem;
}

.logout-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.logout-btn:hover {
  animation: float 1500ms linear infinite;
}
@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.change-theme-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.change-theme-btn:hover {
  animation: rotate-theme 3000ms infinite;
}
@keyframes rotate-theme {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.about-page {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 7rem 2rem 2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: start;
  gap: 0;
}
.about-page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  width: 40%;
  margin-top: 50px;
}
.about-page__welcome {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #47482f;
}
.about-page__title {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: inherit;
  font-size: 4rem;
  color: #212529;
  margin: 1rem 1rem 3rem;
}
.about-page__article {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #47482f;
  text-align: center;
}
.about-page__article--row {
  text-align: center;
}
.about-page__article--row-big {
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
.about-page__article .special-word {
  font-weight: 700;
}

.register-page {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 7rem 2rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.register-page__form {
  padding: 0.5rem;
  align-items: center;
  max-width: 600px;
}
.register-page__input {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: inherit;
  border: solid 2px #212529;
  padding: 0.5rem;
  border-radius: 0;
}
.register-page__input:focus, .register-page__input:hover {
  outline: none;
  border: solid 2px #212529;
  box-shadow: 0 0 10px #212529;
}
.register-page .input-group .form-control:not(:focus).is-invalid {
  z-index: 1;
}
.register-page .email-sign {
  border: #212529 solid 2px;
  font-size: 1.1rem;
  opacity: 0.7;
  border-radius: 0;
}
.register-page__btn {
  width: 50%;
  outline: none;
  opacity: 0.7;
  margin: 3rem auto;
}
.register-page__btn:hover {
  outline: none;
  opacity: 1;
}
.register-page .registration-confirm {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(120, 0, 0, 0.5568627451);
  text-align: center;
}

.recipes-page {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 7rem 2rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #f3f3f3;
  background-image: none;
}
.recipes-page .filter-btns-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
  padding: 20px 50px 50px;
  width: 100%;
}
.recipes-page .filter-btns-container .filter-btns {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #212529;
  background-color: transparent;
  border: none;
  width: 10%;
  min-width: 100px;
}
.recipes-page .filter-btns-container .filter-btns:hover .filter-btns__icon {
  transform: scale(1.5);
  transition-duration: 700ms;
}
.recipes-page .filter-btns-container .filter-btns .filter-btns__icon {
  transition-duration: 1200ms;
}
.recipes-page .recipes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 70px 70px;
  list-style: none;
  padding: 20px 100px;
}

.recipe-card {
  background-color: #b4b093;
  border: #212529 3px solid;
  width: 21em;
  box-sizing: border-box;
  border-radius: 0px;
  box-shadow: 0 0 20px #212529;
}
.recipe-card:hover {
  box-shadow: 0 0 20px #212529;
}
.recipe-card__container {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #47482f;
}
.recipe-card__container .cooking-serving {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.recipe-card__container .cooking-serving .cooking-serving__box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.recipe-card__container .recipe-card-icon {
  font-size: 30px;
  margin: 0 5px;
  padding-bottom: 5px;
}
.recipe-card__container--title {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 25px;
  margin: 20px 10px;
  text-wrap: balance;
  vertical-align: middle;
  align-content: center;
  height: 70px;
  color: #212529;
}
.recipe-card__container--img {
  margin-top: 10px;
  border-radius: 0;
  border: solid 3px #212529;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0 0 20px #212121);
}
.recipe-card__container .btns-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.recipe-card__details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  padding: 5px 10px;
}
.recipe-card__details section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.recipe-card__details section p {
  margin: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(33, 37, 41, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup #ingred-content {
  width: 40%;
}
.popup__content {
  background-image: url(../img/IMG_3284.JPG);
  background-size: cover;
  width: 60%;
  box-shadow: 0 0 20px #212529;
  color: #47482f;
}
.popup__content .btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0px;
  margin: 0;
}
.popup__content--btn {
  font-size: 35px;
  color: #47482f;
  border: none;
  padding: 0;
}
.popup__content--btn:hover {
  opacity: 0.7;
}
.popup__content .popup-title {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  color: #212529;
  margin: 0 30px 30px;
}
.popup__content--list {
  font-size: 20px;
  padding: 0 50px 50px;
}

.pop-btn-container {
  width: 30%;
}
.pop-btn-container .pop-up-btn {
  background-color: transparent;
  color: inherit;
  font-size: 20px;
  border: #212121 solid 2px;
  border-radius: 0;
  width: 100%;
}
.pop-btn-container .pop-up-btn:hover {
  box-shadow: 0 0 5px #212121;
}
.pop-btn-container .pop-up-btn__icon {
  padding: 3px;
  font-size: 30px;
}/*# sourceMappingURL=styles.css.map */