@font-face {
  font-family: "Danfo";
  src: url(../fonts/Danfo/static/Danfo-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Gloria Hallelujah";
  src: url(../fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass/static/Overpass-Regular.ttf);
  font-weight: 400;
}
.recipe-card {
  width: 24em;
  border-radius: 0;
  border: solid 2px #725050;
}

.login-page {
  background-color: #47482f;
  background-image: url(../img/hero-img-6.jpg);
  background-position: left;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow-x: hidden;
}
.login-page .login-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
}
.login-page .login-container .admin-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
  text-align: center;
  margin: 30px auto 50px;
  color: #47482f;
}
.login-page .login-container .login-form {
  display: flex;
  flex-direction: column;
  font-family: "Overpass", sans-serif;
  gap: 30px;
}
.login-page .login-container .login-form__input {
  background-color: #e8e4dc;
  color: #47482f;
  width: 450px;
  font-size: 25px;
  border: 2px solid #727454;
  outline: #727454;
  padding: 10px 20px;
}
.login-page .login-container .login-form__input:focus {
  outline: none;
  box-shadow: 0 0 15px #727454;
}
.login-page .login-container .login-form__label {
  font-size: 30px;
  color: #212529;
  font-weight: 400;
  font-family: "Gloria Hallelujah", cursive;
}
.login-page .login-container .login-form .login-btn {
  font-size: 3rem;
  color: #47482f;
  align-self: center;
  margin: 40px auto;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gloria Hallelujah", cursive;
}
.login-page .login-container .login-form .login-btn:hover .login-icon {
  animation: rotate 4000ms linear infinite;
}
.login-page .login-container .login-form .login-icon {
  font-size: 3rem;
  margin-left: 30px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-page .recipes-page {
  width: 100vw;
  height: 100vh;
  background-color: #ebe3d3;
  background-image: none;
  padding-top: 50px;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.login-page .recipes-page .filter-btns-container {
  display: flex;
  gap: 20px;
  row-gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
.login-page .recipes-page .filter-btns-container #Asian,
.login-page .recipes-page .filter-btns-container #Italian,
.login-page .recipes-page .filter-btns-container #Pakistani,
.login-page .recipes-page .filter-btns-container #Mexican,
.login-page .recipes-page .filter-btns-container #Japanese,
.login-page .recipes-page .filter-btns-container #Indian,
.login-page .recipes-page .filter-btns-container #Turkish {
  color: #212529;
}
.login-page .recipes-page .filter-btns-container .filter-btns {
  width: 15%;
  min-width: 100px;
  font-size: 25px;
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  color: #727454;
}
.login-page .recipes-page .filter-btns-container .filter-btns:hover .filter-btns__icon {
  transform: scale(1.5);
  color: #727454;
  transition-duration: 700ms;
}
.login-page .recipes-page .filter-btns-container .filter-btns .filter-btns__icon {
  transition-duration: 1200ms;
}
.login-page .recipes-page .recipes-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 30px 70px;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 50px;
  margin-top: 50px;
}
.login-page .logout-btn {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 70px;
  z-index: 1;
  background-color: transparent;
  padding: 10px auto;
  color: #ebe3d3;
  font-size: 30px;
  border: none;
}
.login-page .logout-btn:hover {
  animation: float 1500ms linear infinite;
}
@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.login-page .main-nav {
  position: fixed;
  padding: 10px 150px 10px 10px;
  width: 100vw;
  z-index: 1;
  background-color: #47482f;
}
.login-page .main-nav__container {
  padding-left: 0;
}
.login-page .main-nav .home-icon {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.5rem;
  width: 300px;
  color: #ebe3d3;
}
.login-page .main-nav .nav-link {
  font-size: 20px;
  font-family: "Overpass", sans-serif;
  color: #ebe3d3;
  margin-right: 5rem;
}/*# sourceMappingURL=styles.css.map */